.container {
    position: relative;

    .todo {
        position: absolute;
        left: 30%;
        top: 70px;
        width: 540px;

        &-title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;

            & h1 {
                color: #FFFFFF;
                font-size: 40px;
                font-weight: 700;
                letter-spacing: 15px;
            }
        }

        &-input {
            display: flex;
            align-items: center;
            gap: 20px;
            background-color: #FFFFFF;
            border-radius: 5px;
            height: 60px;
            padding-left: 20px;

            & input {
                border: none;
                font-weight: 400;
                color: #9495A5;
                font-size: 18px;
                padding: 10px 70px 10px 0px;

                &:focus {
                    outline: none;
                }
            }

            &-error {
                color: red;
            }
        }
    }
}

.none {
    display: none;
}