.plusBtn {
    background-color: green;
    border: none;
    padding: 8px 15px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.5s;
}

.plusBtn:hover {
    background-color: rgb(10, 185, 10);
    cursor: pointer;
}