*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(204, 209, 249);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.accordion-dropdown-menu{
    width: 50%;
    margin-bottom: 10px;
}
.accordion-dropdown-menu-header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(81, 165, 255);
    padding: 15px;
    cursor: pointer;
}
.accordion-dropdown-menu-header:hover {
    background-color: rgb(6, 6, 112);
    transition: 0.5s;
}
.accordion-dropdown-menu-header-title {
    color: white;
    font-size: 20px;
}
.material-symbols-outlined{
    color: white;
}
.accordion-dropdown-menu-desc {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.accordion-dropdown-menu-desc.active {
    height: 120px;
    padding: 15px;
    background-color: rgb(57, 152, 225);
    color: white;
}
.toggle-icon{
    transform: rotate();
}